.navbar{
  font-family: 'Righteous', cursive;
  padding:30px;
}


.navbar a {
  float: left;
  color:#f2f2f2;
  text-decoration:none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:25px;
}

textarea{
  height:1000px;
  resize: none;
}

th{
  word-wrap:break-word;
}


.container div.alert {
  /* color: gold; */
  text-align: center;
  font-weight: 600;
}

tbody tr td:first-child  {
  font-style: italic;
}

tbody tr td:last-child  {
  text-align: center;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*tombol submit*/

.tombol {
  background: #5cb85c;
  border: none;
  border-radius: 10px;
  color: snow; 
  cursor: pointer;
  font-size: 1.25em;
  letter-spacing: .1em;
  outline: none;
  padding: .10em 0.5em;
  position: relative; 
  text-transform: uppercase;
}

.tombol::before {
    background: #5cb85c;
    border-radius: inherit;
    content: '';
    filter: blur(10px); 
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }

.tombol:hover::before {
    filter: blur(20px);
    opacity: 1;
  }


.tombol:hover {
    animation: glow 1s ease-in infinite;
  }

/*tombol delete*/

.tombol1 {
  background: red;
  border: none;
  border-radius: 10px;
  color: snow; 
  cursor: pointer;
  font-size: 1.25em;
  letter-spacing: .1em;
  outline: none;
  padding: .10em 0.5em;
  position: relative; 
  text-transform: uppercase;
}

.tombol1::before {
    background: red;
    border-radius: inherit;
    content: '';
    filter: blur(10px); 
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }

.tombol1:hover::before {
    filter: blur(20px);
    opacity: 1;
  }


.tombol1:hover {
    animation: glow 1s ease-in infinite;
  }

/*tombol screenshot*/
.tombol2 {
  background: orange;
  border: none;
  border-radius: 10px;
  color: snow; 
  cursor: pointer;
  font-size: 1.25em;
  letter-spacing: .1em;
  outline: none;
  position: relative; 
  text-transform: uppercase;

}

.tombol2::before {
    background: orange;
    border-radius: inherit;
    content: '';
    filter: blur(10px); 
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }

.tombol2:hover::before {
    filter: blur(20px);
    opacity: 1;
  }


.tombol2:hover {
    animation: glow 1s ease-in infinite;
  }

.tombol3 {
  background: grey;
  border: none;
  border-radius: 10px;
  color: ; 
  cursor: pointer;
  font-size: 1.25em;
  letter-spacing: .1em;
  outline: none;
  position: relative; 
  text-transform: uppercase;

}

.tombol3::before {
    background: grey;
    border-radius: inherit;
    content: '';
    filter: blur(10px); 
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }

.tombol3:hover::before {
    filter: blur(20px);
    opacity: 1;
  }


.tombol3:hover {
    animation: glow 1s ease-in infinite;
  }

/*-------------------------------------------------------*/
@keyframes glow {
  0% {
    background: $color-primary;
  }
  25% {
    background: $color-primary-light;
  }
  100% {
    background: $color-primary;
  }
}
/*-------------------------------------------------------*/

.form-group{
  padding-left:0px;
  padding-right:0px;
}